@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Scheherazade+New:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');


.card{
    /* height:650px; */
    border-radius:15px;
    border:2;

    
}
#card-img-top{
    height:250px !important;
}

.card-body{
    background-color:white;
    color:rgb(63, 61, 61);
    overflow:hidden;
    
    
}
.card-title{

    font-family: 'Scheherazade New', serif;
    overflow-y: hidden;
    padding: 10px;
    padding-left: 0;
    min-height: 10px;
    
 
}
.card-text{

    font-family: 'Josefin Sans', sans-serif;
    overflow-y:hidden;
    display: flex;
    
    
}
.card-cost{
    font-family: 'Kanit', sans-serif;
    overflow:hidden;
}
.card-speciality{

    font-family: 'Gemunu Libre', sans-serif;
    overflow:hidden;
    display: flex;
    height: 100px;
    
    align-items:center;
    
    
    
}
